{% extends 'base.html' %}

{% block content %}
    <div class="container mx-auto px-4 py-8">
        <!-- Header Section -->
        <div class="mb-8 text-center">
            <h1 class="text-4xl font-bold mb-4">All Stocks</h1>
            <p class="text-gray-600">Browse the latest stocks available.</p>
        </div>

        <!-- Search Bar -->
        <form method="get" class="mb-6 flex justify-center">
            <input type="text" name="q" placeholder="Search stocks..."
                   class="border border-gray-300 px-4 py-2 rounded-md focus:outline-none w-1/2">
            <button type="submit"
                    class="ml-2 bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-300">
                Search
            </button>
        </form>



        <!-- Table Section -->
        <div class="overflow-x-auto shadow-lg rounded-lg">
            <div class="min-w-full grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1 gap-3">

                {% for stock in page_obj %}
                    {% include 'components/stock_card.html' with stock=stock %}
                {% empty %}
                        <p class="px-6 py-4 text-center text-gray-500">
                            No stocks found. Check back later!</p>
                {% endfor %}


            </div>
        </div>

        <!-- Pagination Section -->
        <div class="mt-6 flex justify-center items-center">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="text-blue-500 hover:underline">Previous</a>
            {% endif %}
            <span class="mx-4 text-gray-600">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="text-blue-500 hover:underline">Next</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
