{% extends 'base.html' %}
{% block content %}
<div class="min-h-screen bg-gray-50 py-12 bg-gray-800 relative">
  <a href="{% url 'historical_data' stock.code %}" class="absolute top-1 right-2" style="color: whitesmoke">See historical data!</a>
{#    <a href="{% url 'stock_detail' stock.code %}" class="group-hover:scale-125 transform duration-300 ease-in-out"></a>#}

    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <!-- Header Section -->
        <div class="text-center mb-12">

            <h1 class="text-4xl font-extrabold text-gray-400 sm:text-5xl md:text-6xl">
                Stock Analysis for:
                <span id="stock_code" style="color: blanchedalmond">{{ stock.code }}</span>
            </h1>

            <p class="mt-4 text-xl text-gray-500">Comprehensive technical analysis and market insights</p>
        </div>

        <!-- Charts Section -->
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 mb-12">
            <div id="loading-overlay" class="hidden fixed inset-0 bg-gray-900 bg-opacity-50 flex items-center justify-center z-50">
            <div class="animate-spin rounded-full h-32 w-32 border-t-2 border-b-2 border-black-500"></div>
        </div>
    <!-- MACD Chart Card -->
    <div class="bg-gray-800 rounded-2xl shadow-xl overflow-hidden">
        <div class="px-6 py-4 bg-gray-400">
            <h2 class="text-2xl font-extrabold text-blanchedalmond">MACD Analysis</h2>
            <p class="text-gray-300 font-bold font-bold text-gray-800">Moving Average Convergence Divergence</p>
        </div>
        <div class="p-6 bg-gray-300">
            <div id="macdChart" class="w-full h-[400px]"></div>
        </div>
    </div>

    <!-- OBV Chart Card -->
    <div class="bg-gray-800 rounded-2xl shadow-xl overflow-hidden">
        <div class="px-6 py-4 bg-gray-400">
            <h2 class="text-2xl font-extrabold text-blanchedalmond">Volume Analysis</h2>
            <p class="text-gray-300 font-bold text-gray-800">On-Balance Volume Indicator</p>
        </div>
        <div class="p-6 bg-gray-300">
            <div id="obvChart" class="w-full h-[400px]"></div>
        </div>
    </div>
</div>


        <!-- Technical Analysis Table -->
        <div class="bg-white rounded-2xl shadow-xl overflow-hidden">
            <div class="px-6 py-4 bg-gray-700">
                <h2 class="text-2xl font-bold text-white">Technical Indicators</h2>
            </div>
            <div class="p-6 overflow-x-auto bg-gray-200">
                <div class="text-black font-extrabold">OSCILLATORS</div> <br>
                <table class="min-w-full divide-y divide-gray-200">
                    <thead>
                        <tr>
                            <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Time Range</th>
                            <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">RSI - Relative Strength Index</th>
                            <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Bollinger Bands</th>
                            <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">CCI - Commodity Channel Index</th>
                            <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Signal</th>
                        </tr>
                    </thead>
                    <tbody id="oscilators" class="bg-white divide-y divide-gray-200">
                        <tr>
                            <td colspan="6" class="px-6 py-4 text-center text-sm text-gray-500">Loading data...</td>
                        </tr>
                    </tbody>

                </table>

                <br>

                <div class="text-black font-extrabold">MOVING AVERAGES</div> <br>

                <table class="min-w-full divide-y divide-gray-200">
                    <thead>
                         <tr>
                                <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Time Range</th>
                                <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">SMA - Simple Moving Average</th>
                                <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">EMA - Exponential Moving Average</th>
                                <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">WMA - Weighted Moving Average</th>
                                <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">KAMA - Kaufman's Adaptive Moving Average</th>
                                <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">VMA - Variable Moving Average</th>
                                <th class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Signal</th>
                        </tr>
                    </thead>
                    <tbody id="moving_averages" class="bg-white divide-y divide-gray-200">
                        <tr>
                            <td colspan="6" class="px-6 py-4 text-center text-sm text-gray-500">Loading data...</td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>

<div>
    Price plot of {{ stock.code }}:
    <div class="p-6 bg-gray-800">
            <div id='priceplot' class="w-full h-[400px]"></div>
        </div>
</div>

</div>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
document.addEventListener('DOMContentLoaded', () => {



    const stockCode = document.getElementById('stock_code').textContent;

    const updateTable = (data) => {
        console.log({{ data.analysis }})

        const tbody = document.getElementById('oscilators');
        tbody.innerHTML = '';

        for (const [range, metrics] of Object.entries(data.analysis)) {
            const signal = metrics.signal || 'N/A';

            const row = `
                <tr class="hover:bg-gray-50 transition-colors">
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                        ${range.toUpperCase()}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        ${parseFloat(metrics.rsi).toFixed(2) || 'N/A'}
                    </td>
                    {#<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">#}
                    {#    ${parseFloat(metrics.Stochastic_Oscillator).toFixed(2) || 'N/A'}#}
                    {#</td>#}
                    <td class="px-6 py-4 text-sm text-gray-500">
                        <span class="block"><strong>Upper</strong>: ${parseFloat(metrics.Bollinger_upper_band).toFixed(2) || 'N/A'}</span>
                        <span class="block"><strong>Middle</strong>: ${parseFloat(metrics.Bollinger_middle_band).toFixed(2) || 'N/A'}</span>
                        <span class="block"><strong>Lower</strong>: ${parseFloat(metrics.Bollinger_lower_band).toFixed(2) || 'N/A'}</span>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        ${parseFloat(metrics.CCI).toFixed(2) || 'N/A'}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        ${signal}
                    </td>
                    {#<td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">#}
                    {#    ${parseFloat(metrics.Chaikin_Oscillator).toFixed(2) || 'N/A'}#}
                    {#</td>#}
                </tr>`;
            tbody.insertAdjacentHTML('beforeend', row);
        }

        const tbody2 = document.getElementById("moving_averages")
        tbody2.innerHTML = ''

        for (const [range, metrics] of Object.entries(data.analysis)) {
            const signal = metrics.signal || 'N/A'; // Fetch the signal value

            const row = `
                    <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                        ${range.toUpperCase()}
                    </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        ${parseFloat(metrics.SMA).toFixed(2) || 'N/A'}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        ${parseFloat(metrics.EMA).toFixed(2) || 'N/A'}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        ${parseFloat(metrics.WMA).toFixed(2) || 'N/A'}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        {% if range == '1d'%}
                            Need More than one datapoint!
                        {% endif %}
                        ${parseFloat(metrics.KAMA).toFixed(2) || 'N/A'}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        ${parseFloat(metrics.VMA).toFixed(2) || 'N/A'}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        ${signal}
                    </td>

                    `
            ;
            tbody2.insertAdjacentHTML('beforeend', row);
        }

    };


    const updatePlots = (data) => {

        const obvLayout = {
            title: {
                text: 'On-Balance Volume Trend',
                font: { size: 24, color: '#1F2937' }
            },
            xaxis: {
                title: 'Time Period',
                gridcolor: '#E5E7EB'
            },
            yaxis: {
                title: 'OBV Value',
                gridcolor: '#E5E7EB'
            },
            paper_bgcolor: 'white',
            plot_bgcolor: 'white',
            showlegend: true,
            legend: {
                x: 0,
                y: 1.1,
                orientation: 'h'
            },
            margin: { t: 50, l: 50, r: 20, b: 50 }
        };



        const obvData = [
            {
                x: data['analysis']['1d']['date'],
                y: data['analysis']['1d']['OBV'],
                type: 'scatter',
                mode: 'lines+markers',
                name: '1 Day',
                line: { color: '#60A5FA' }
            },
            {
                x: data['analysis']['1w']['date'],
                y: data['analysis']['1w']['OBV'],
                type: 'scatter',
                mode: 'lines+markers',
                name: '1 Week',
                line: { color: '#2563EB' }
            },
            {
                x: data['analysis']['1m']['date'],
                y: data['analysis']['1m']['OBV'],
                type: 'scatter',
                mode: 'lines+markers',
                name: '1 Month',
                line: { color: '#1E40AF' }
            }
        ];

        const macdLayout = {
            title: {
                text: 'MACD Trend',
                font: { size: 24, color: '#1F2937' }
            },
            xaxis: {
                title: 'Time Period',
                gridcolor: '#E5E7EB'
            },
            yaxis: {
                title: 'MACD Value',
                gridcolor: '#E5E7EB'
            },
            paper_bgcolor: 'white',
            plot_bgcolor: 'white',
            showlegend: true,
            legend: {
                x: 0,
                y: 1.1,
                orientation: 'h'
            },
            margin: { t: 50, l: 50, r: 20, b: 50 }
        };

        const macdData = [
            {
                x: data['analysis']['1d']['date'],
                y: data['analysis']['1d']['MACD'],
                type: 'scatter',
                mode: 'lines+markers',
                name: '1 Day',
                line: { color: '#60A5FA' }
            },
            {
                x: data['analysis']['1w']['date'],
                y: data['analysis']['1w']['MACD'],
                type: 'scatter',
                mode: 'lines+markers',
                name: '1 Week',
                line: { color: '#2563EB' }
            },
            {
                x: data['analysis']['1m']['date'],
                y: data['analysis']['1m']['MACD'],
                type: 'scatter',
                mode: 'lines',
                name: '1 Month',
                line: { color: '#1E40AF' }
            }
        ];



        const priceLayout = {
            title: {
                text: 'PRICE Trend',
                font: { size: 24, color: '#1F2937' }
            },
            xaxis: {
                title: 'Time Period',
                gridcolor: '#E5E7EB'
            },
            yaxis: {
                title: 'PRICE Value in DEN',
                gridcolor: '#E5E7EB'
            },
            paper_bgcolor: 'white',
            plot_bgcolor: 'white',
            showlegend: true,
            legend: {
                x: 0,
                y: 1.1,
                orientation: 'h'
            },
            margin: { t: 50, l: 50, r: 20, b: 50 }
        };

        const x_ = data['historical_data'].map(item => item.Date);
        const y_ = data['historical_data'].map(item => item['Last trade price']);


        const priceData = [
            {
                x: [...x_].reverse(),
                y: [...y_].reverse(),
                type: 'scatter',
                mode: 'lines+markers',
                name: 'Price movement',
                line: { color: '#60A5FA' }
            }
        ];


        Plotly.newPlot('macdChart', macdData, macdLayout, { responsive: true });
        Plotly.newPlot('obvChart', obvData, obvLayout, { responsive: true });
        Plotly.newPlot('priceplot', priceData, priceLayout, { responsive: true });
    };

    const stockCode_ = document.getElementById('stock_code').textContent;
    const loadingOverlay = document.getElementById('loading-overlay');

    const fetchAnalysis = (range) => {
        loadingOverlay.classList.remove('hidden');  // Show loading
        fetch(`/stocks/${stockCode_}/technical-analysis/`)
            .then(response => response.json())
            .then(data => {
                updateTable(data);
                updatePlots(data);
                loadingOverlay.classList.add('hidden');  // Hide loading
            })
            .catch(error => {
                console.error('Error:', error);
                loadingOverlay.classList.add('hidden');  // Hide loading on error
            });
    };

    // Set up event listeners for time range buttons
    document.querySelectorAll('.time-range-btn').forEach(button => {
        button.addEventListener('click', (e) => {
            // Remove active state from all buttons
            document.querySelectorAll('.time-range-btn').forEach(btn => {
                btn.classList.remove('bg-indigo-800');
            });
            // Add active state to clicked button
            e.target.classList.add('bg-indigo-800');
            const range = e.target.getAttribute('data-range');
            fetchAnalysis(range);
        });
    });

    // Initial load
    fetchAnalysis('1d');
});
</script>
    <style>
    th{
        font-weight: bolder !important;
    }
    </style>
{% endblock %}

